.Logo_container {
	display: flex;
	height: 100%;
	flex: 0 1 33.333%;
	justify-content: center;
	@media (max-width: 1000px){
		order: 2;
		height: 100%;
	}
	@media (max-width: 770px){
		display: none;
	}
}
.Logo_container a {
	justify-content: center;
	display: flex;
	cursor: inherit;
}