.TopBarNavigationContainer {
	flex: 0 1 33.333%;
	@media (max-width: 1000px){
		display: none;
	}
	ul{ 
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
			li {
				font-size: 20px;
				font-weight: 600;
				position: relative;
				&::after {
					content: '';
					position: absolute;
					right: 0;
					bottom: -5px;
					width: 0px;
					height: 1.5px;
					
					background-color: rgb(255, 255, 255);
					transition: width 0.35s;
				}
				&:hover {
					&::after {
						width: 100%;

					}
				}
			}
		}
		}

.CloseButtonContainer{
	position: absolute;
	z-index: 3001;
	top: 30px;
	right: 30px;
}
