.TopBarLogOut {
	display: flex;
	align-items: center;
	font-size: 20px;
	cursor: pointer;
	@media (max-width: 1000px){
		flex: 0 1 50%;
	}
	&:hover{
		svg {
			transform: rotate(-90deg);
		}
	}
	svg{
		transition: transform 0.3s ease 0s;
		margin: 0px 10px 0px 0px;
	}
	button {
		display: flex;
	}
}
