.App {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background: rgb(105,105,105);
	background: linear-gradient(180deg, rgba(105,105,105,0.7959558823529411) 0%, rgba(255,255,255,0) 30%, rgba(255,210,126,0.7987570028011204) 100%);
}
.logInForm {
	padding: 100px 0px 0px 0px;
	width: 700px;
	height: 200px;
	display: flex;
	flex-direction: column;
}
.logInForm_header {
	font-size: 40px;
	margin: 0px 0px 20px 0px;
	align-self: center;
	font-weight: 700;
}
.form_container {
	display: flex;
	flex-direction: column;
}
.input_container input {
	margin: 0px 0px 20px 0px;
	font-size: 30px;
	border-radius: 10px;
	border: solid black;
	padding: 5px 15px;
	width: 100%;
}
.form_container button {
	font-weight: 700;
	align-self: center;
	font-size: 30px;
	padding: 5px 40px;
	border-radius: 10px;
	border: solid black;
}

.error_block {
	font-size: 20px;
	color: red;
	border-radius: 10px;
	border: solid rgb(255, 0, 0);
	align-self: start;
	margin: 0px 0px 3px 0px;
	padding: 2px 5px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(-100%, calc(-50% - 10px));
}

.input_container {
	display: flex;
	position: relative;
	width: 100%;
	padding: 0px 10px;
}