.ContentPage_container {
	min-height: 100%;
	max-width: 1200px;
	min-width: 320px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
	padding: 0px 2vw;
}
.Loader {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	& img{
		width: 20vw;
		height: 20vw;
	}
}
