.HomeContentFeatured {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	min-width: calc(100vw - 17px);
	flex: 0 1 auto;
	align-self: center;
	overflow: hidden;
	padding: 10px 0px 0px 0px;
	@media (hover: none) {
		min-width: 100vw;
	}
}
.FeaturedTitle {
	font-size: 35px;
	margin: 0vh 0px 2vh 0px;
	span {
		color: rgb(228, 157, 32);
		margin: 0px 0.5vw 0px 0px;
	}
}

.FeaturedButton {
	padding: 8px 15px;
	background-color: rgb(228, 157, 32);
	width: 150px;
	text-transform: uppercase;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	transition: all 0.3s ease 0s;
	margin: 15px 0px 0px 0px;
	&:hover {
		background-color: rgb(189, 125, 15);
	}
}
