.HomeContentFeatured {
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	min-width: calc(100vw - 17px);
	flex: 0 1 auto;
	align-self: center;
}
.FeaturedTitle{
	font-size: 35px;
	margin: 6vh 0px 2vh 0px;
	span{
		color: rgb(228, 157, 32);
		margin: 0px 0.5vw 0px 0px;
	}
}

.FeaturedButton {
	padding: 8px 15px;
	background-color: rgb(228, 157, 32);
	width: 150px;
	margin: 30px 0px 30px 0px;
	text-transform: uppercase;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: rgb(189, 125, 15);
	}
}
