.TopBarUserTools {
	flex: 0 1 33.333%;
	display: flex;
	justify-content: flex-end;
	height: 100%;
	@media (max-width: 1000px){
		justify-content: flex-start;
		order: 1;
	}
	@media (max-width: 770px){
		flex: 1 1 auto;
	}
}