@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.HomeContentTitle {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	color: white;
	flex-direction: column;
	@media (max-width: 770px) {
		min-height: calc(100vh - 100px);
		align-items: center;
		text-align: center;
	}

	h1 {
		font-family: "Dancing Script", cursive;
		font-weight: 700;
		font-size: 70px;

		@media (max-width: 770px) {
			font-weight: 900;
			font-size: 100px;
			margin: 0px 0px 40px 0px;
		}
		@media (max-width: 460px) {
			font-size: 70px;
			margin: 0px 0px 20px 0px;
		}
	}
	h2 {
		margin: 0.8vw 0px 0px 0px;
		font-size: 35px;
		@media (max-width: 770px) {
			font-size: 60px;
			margin: 0px 0px 40px 0px;
		}
		@media (max-width: 460px) {
			font-size: 40px;
			margin: 0px 0px 20px 0px;
		}
	}
	button {
		margin: 0.8vw 0px 0px 0px;
		border: 2px solid rgb(255, 255, 255);
		border-radius: 4px;
		padding: 2px 8px;
		font-size: 18px;
		transition: all 0.3s ease 0s;
		@media (max-width: 770px) {
			font-size: 30px;
			margin-bottom: 40px;
		}
		&:hover {
			background-color: #fff;
			color: #000;
		}
	}
}
